# Build and Release Folders


# Other files and folders
Game/Library/*
Game/Temp/*
Game/Build/*

# Executables


# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
Game/Assets/Low-Poly Weapons/Textures/Weapons.tif.meta
Game/Assets/Low-Poly Weapons/Textures/Weapons.tif
